@charset "utf-8";
/* CSS Document */

div {
background:url(courtyard.jpg)}

img.preload{
	display:none;
}

body{
    padding: 0px;
    margin: 0px;
    min-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
}


.background-hack {  
z-index                 :-2;
background-position     :center top;
background-repeat       :no-repeat;
-moz-background-size    :cover;
background-size         :cover;
position                :fixed;
top                     :0;
left                    :0;
right                   :0;
bottom                  :0;}

.naviarrow {
	position:fixed;
	width:500px;
	bottom:1%;
	left:48%;
	height: 20px;
	font-weight: 900;
}


#randomimg2 {
z-index                 :-2;
background-position     :center top;
background-repeat       :no-repeat;
-moz-background-size    :cover;
background-size         :cover;
position                :fixed;
top                     :0;
left                    :0;
right                   :0;
bottom                  :0;}




#header-title {
	position:absolute;
	margin-top:10px;
	margin-left:5px;
	font-family: HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
	font-weight: bold;
    font-size: 10em;
    line-height: 1em;

}

#header-contact {
	position:absolute;
	margin-top:300px;
	margin-left:5px;
	font-family: HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
	font-weight: bold;
    line-height: 1.2em;

}



#contents {
	position:absolute;
	margin-top:430px;
	margin-left:5px;
	font-family: HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
	font-weight: bold;
    line-height: 1.5em;
	padding-top: .001em;
	padding-bottom: .9em;	
	color:#FFF;
}

#foot {
	position:absolute;
	margin-top:10px;
	margin-left:5px;
	font-family: HelveticaLTStd-Roman, Helvetica, Arial, sans-serif;
    font-size: .6em;
    line-height: .3em;
	padding-top: .001em;
	padding-bottom: .9em;	
	color:#FFF;
}



@font-face {
  font-family: "HelveticaLTStd-Roman";
  src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-roman-webfont.eot");
  src: local("☺"),
    url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-roman-webfont.otf") format("opentype"),
	url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-roman-webfont.woff") format("woff"),
    url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-roman-webfont.svg#filename") format("svg");
  }
@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-light-webfont.eot");
  src: local("☺"),
    url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-light-webfont.otf") format("opentype"),
	url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-light-webfont.woff") format("woff"),
    url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-light-webfont.svg#filename") format("svg");
  }
@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-bold-webfont.eot");
    src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-bold-webfont.woff") format('woff'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-bold-webfont.ttf") format('truetype'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-bold-webfont.svg#HelveticaLTStdBold") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStdLightItalic';
    src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-lightobl-webfont.eot");
    src: url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-lightobl-webfont.eot?#iefix") format('embedded-opentype'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-lightobl-webfont.woff") format('woff'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-lightobl-webfont.ttf") format('truetype'),
         url("http://www.noarchitecture.com/projects/fonts/helveticaltstd-lightobl-webfont.svg#HelveticaLTStdLightItalic") format('svg');
    font-weight: normal;
    font-style: normal;
	font-family: HelveticaLTStd-Light, Helvetica, Arial, sans-serif;
	font-size: 12px;
}


